.progress {
    height: 18px;
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;
    cursor: pointer;

    &:hover {
        .input-progress {
            height: 5px;
            &::-webkit-slider-thumb {
                display: block;
            }
        }
    }
}

.input-progress {
    cursor: pointer;
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background: linear-gradient(90deg, var(--progressbar-active-bg) 50%, var(--progressbar-player-bg) 50%);

    &::-webkit-slider-thumb {
        display: none;
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: var(--text-item-hover);
        z-index: 3;
        position: relative;
    }
}
