.wrapper {
    position: fixed;
    background-color: var(--queue-player-popup-bg);
    top: 0;
    right: 0;
    height: calc(100vh - 90px);
    width: 330px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-animation: fade-from-right 0.5s ease;
    animation: fade-from-right 0.5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 6px rgba(0, 0, 0, 0.3), inset 0 1px 1px hsla(0, 0%, 100%, 0.3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 6px rgba(0, 0, 0, 0.3), inset 0 1px 1px hsla(0, 0%, 100%, 0.3);
    z-index: 999;

    &.close {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 14px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.panel {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    background-color: var(--alpha-bg);
    border-radius: 999px;
}

.item {
    user-select: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--navigation-text);
    border-radius: 999px;
    cursor: pointer;

    &:hover {
        color: var(--text-item-hover);
    }

    &.active {
        color: var(--text-item-hover);
        background-color: var(--tab-active-bg);
    }

    &.disable {
        cursor: auto;
        opacity: 0.5;
        pointer-events: none;
    }
}

.btn {
    margin-left: 5px !important;

    &.active {
        background-color: var(--purple-primary);
        color: #fff;
    }
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
}

.body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: overlay;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 8px 15px;
}

.playlist {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.song {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    border-radius: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: default;

    &:hover {
        background-color: var(--alpha-bg);

        .icon {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }

    &.prev {
        opacity: 0.5;
    }

    &.active {
        background-color: var(--purple-primary);
        color: white;

        .artists {
            color: hsla(0, 0%, 100%, 0.6);
        }

        .btn-more {
            &.like {
                span {
                    color: white !important;
                }
            }
        }

        .icon {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            color: white;
        }
    }
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 10px;
}

.desc {
    max-width: 150px;
}

.title-song {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
}

.artists {
    text-transform: capitalize;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2rem;
    color: var(--text-secondary);
}

.block {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
        .icon {
            -webkit-filter: brightness(0.9);
            filter: brightness(0.9);
        }
    }
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 24px;
    color: white;
    display: none;
    background-color: var(--dark-alpha-50);

    &.playing {
        .pause-icon {
            display: block;
        }

        .lib-icon {
            display: none;
        }
    }
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.more {
    display: flex;
    margin-left: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-more {
    width: 26px;
    height: 26px;
    background-color: transparent;
    margin: 0 4px !important;

    &:hover {
        background-color: var(--alpha-bg);
    }

    &.like {
        span {
            color: var(--purple-primary);
        }
    }
}

.pause-icon {
    display: none;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.next-songs {
    padding: 15px 8px 5px;
    font-weight: 700;
    font-size: 14px;
}

.loader-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    inset: 0;
    -webkit-animation: spinner 2s linear infinite;
    animation: spinner 2s linear infinite;
    font-size: 25px;
}

// Timer
.timer-title {
    font-size: 1.8rem;
    color: var(--text-primary);
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: capitalize;
}

.timer-subtitle {
    font-size: 1.2rem;
    margin: 20px 0;
    color: var(--text-secondary);
}

.settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--alpha-bg);
}

.setting {
    width: 100px;
}

.setting-input {
    position: relative;
    display: flex;
    align-items: center;

    input {
        display: inline-flex;
        justify-content: flex-start;
        border: none;
        font-size: 3.4rem;
        padding: 0;
        height: 40px;
        width: 50px;
        letter-spacing: 3px;
        background-color: transparent;
        color: white;

        // hidden default button in input number
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 110%;
        left: 0;
        right: 0;
        display: block;
        border-bottom: 2px solid #ccc;
    }

    &:focus-within::after {
        border-color: var(--purple-primary);
    }
}

.setting-label {
    text-transform: uppercase;
    color: var(--text-secondary);
    font-size: 1.3rem;
    cursor: default;
}

.dot {
    font-size: 3.4rem;
}

// animations
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fade-from-right {
    0% {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
