:root {
    --text-primary: #fff;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --text-hover: #fff;
    --text-placeholder: #dadada;
    --navigation-text: #dadada;

    --header-height: 70px;
    --footer-height: 90px;
    --sidebar-height-mobile: 50px;
    --sidebar-width: 240px;
    --sidebar-popup-width: 70px;
    --padding-section: 60px;

    --dark-alpha-10: rgba(0, 0, 0, 0.1);
    --dark-alpha-50: rgba(0, 0, 0, 0.5);
    --dark-alpha-70: rgba(0, 0, 0, 0.7);
    --dark-alpha-80: rgba(0, 0, 0, 0.8);

    @media (max-width: 740px) {
        --footer-height: 50px;
    }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: Inter, sans-serif;
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    // prevent default scroll on IOS
    position: fixed;
    inset: 0;
    overflow: hidden;

    background-color: var(--layout-bg);
    color: var(--text-primary);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    background-size: 1920px auto;
    background-repeat: repeat;

    @media (max-width: 740px) {
        background-position: 25% 0;
    }
}

body *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: transparent;
    -webkit-box-shadow: inset 0 0 6px var(--scroll-thumb-bg);
}

body *::-webkit-scrollbar-track {
    border-radius: 4px;
    background: transparent;
}

body *::-webkit-scrollbar {
    display: block;
    width: 6px;
}

img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: Inter, sans-serif;
}

a[href] {
    color: var(--navigation-text);
    text-decoration: none;
}

.has-player {
    #footer {
        bottom: 0;

        @media (max-width: 740px) {
            bottom: calc(0px + var(--sidebar-height-mobile));
        }
    }

    #sidebar {
        max-height: calc(100vh - var(--footer-height));
    }

    #main {
        max-height: calc(100vh - var(--footer-height));

        @media (max-width: 740px) {
            max-height: calc(100vh - var(--footer-height) - var(--sidebar-height-mobile));
        }
    }
}

.line-clamp {
    display: -webkit-box !important;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// fonts emmbeded
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2') format('woff2');
}

// Custom toastify
body {
    .Toastify__toast {
        background-color: var(--primary-bg);
        color: var(--text-primary);
    }
}

// Custom tippy
.tippy {
    font-size: 1.2rem;
}

// Custom slick slider
body {
    .slick-track {
        display: flex;
        align-items: flex-end;
    }

    .slick-list {
        overflow: unset;
    }

    .slick-arrow {
        display: none;
    }
}
