.container {
    background-color: var(--primary-bg);
    border-radius: 8px;
    padding: 0 0 20px 0;
}

.btn-modal {
    background-color: var(--alpha-bg);

    &:hover {
        -webkit-filter: brightness(0.9);
        filter: brightness(0.9);
    }
}

.title {
    padding: 20px 30px;
    font-size: 24px;

    @media (max-width: 740px) {
        padding: 20px;
    }
}

.content {
    max-height: 50vh;
    min-height: 500px;
    padding: 0 30px;
    overflow-y: overlay;

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.05);
    }

    @media (max-width: 740px) {
        min-height: 400px;
        padding: 0 20px;
    }
}

.display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sub-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.themes {
    margin: 0 -7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.body {
    width: 16.66667%;
    padding: 0 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;

    @media (min-width: 1024px) and (max-width: 1224px) {
        width: 25%;
    }

    @media (max-width: 1024px) {
        width: 33.33333%;
    }

    @media (max-width: 740px) {
        width: 50%;
    }
}

.theme {
    cursor: pointer;
    position: relative;
    width: 100%;
    padding-top: 66.67%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 101%;
    -webkit-transition: background-size 0.5s ease;
    -o-transition: background-size 0.5s ease;
    transition: background-size 0.5s ease;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
        background-size: 110%;

        .action {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }

    &.active {
        .current {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .border {
            display: block;
        }
    }
}

.current {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    display: none;
    background-color: var(--purple-primary);
    font-size: 16px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.border {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-radius: 4px;
    border: 2px solid var(--purple-primary);
    display: none;
}

.action {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--dark-alpha-50);
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .apply {
        color: white;
        &:hover {
            background-color: var(--purple-primary);
            -webkit-filter: brightness(0.9);
            filter: brightness(0.9);
        }
    }

    .try {
        color: white;
        background-color: transparent;
        border: 1px solid hsla(0, 0%, 100%, 0.5);
        margin-left: 0;
        margin-top: 10px;

        &:hover {
            -webkit-filter: brightness(0.9);
            filter: brightness(0.9);
        }
    }
}

.name {
    font-size: 1.2rem;
    padding: 5px 0;
}
