.wrapper {
    padding-bottom: 20px;
}

// Slider
.slider {
    padding-top: 20px;
    margin: 0 -15px 20px;
    position: relative;
    -webkit-transform: perspective(500px);
    transform: perspective(500px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: calc(20vw - 66px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &:hover {
        .btn-next,
        .btn-prev {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }

    @media (max-width: 1024px) {
        height: calc(30vw - 80px);
        min-height: 180px;
    }

    @media (max-width: 740px) {
        height: calc(30vw - 80px);
        min-height: 170px;
        margin: 0 -5px;
    }

    @media (max-width: 560px) {
        min-height: 150px;
    }

    @media (max-width: 420px) {
        min-height: 120px;
    }
}

.block {
    top: 0;
    left: 33.333%;
    position: absolute;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33.33333%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);

    @media (max-width: 1024px) {
        width: 50%;
        left: 50%;
    }

    @media (max-width: 740px) {
        padding: 5px;
    }
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.next {
    opacity: 1;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 2;

    @media (max-width: 1024px) {
        opacity: 0;
    }
}

.prev {
    opacity: 1;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 2;
}

.current {
    opacity: 1;
    z-index: 2;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.btn-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    width: 55px;
    height: 55px;
    z-index: 5;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);

    &:hover {
        -webkit-filter: brightness(0.9);
        filter: brightness(0.9);
    }

    @media (max-width: 740px) {
        display: none !important;
    }
}

.btn-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    z-index: 5;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);

    &:hover {
        -webkit-filter: brightness(0.9);
        filter: brightness(0.9);
    }

    @media (max-width: 740px) {
        display: none !important;
    }
}

// play list
.container {
    margin-top: 48px;

    &.separate {
        margin-top: 0;
    }

    @media (max-width: 740px) {
        margin-top: 24px;
    }
}

.title {
    font-size: 2rem;
    margin-bottom: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.playlists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -12px;

    @media (min-width: 1224px) {
        margin: 0 -14px;
    }

    @media (max-width: 740px) {
        margin: 0 -8px;
    }
}

.card {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100%;
    border-radius: 5px;
    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transition: background-size ease 0.5s;
    -o-transition: background-size ease 0.5s;
    transition: background-size ease 0.5s;
    overflow: hidden;

    &:hover {
        background-size: 110%;

        .layout {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }
}

.layout {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.icon {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    margin: 0 !important;

    &:hover {
        background-color: var(--hover-tooltip-opacity) !important;
    }

    &.icon-play {
        width: 45px;
        height: 45px;
        border: 1px solid white;
        font-size: 24px;

        &:hover {
            background-color: transparent !important;
        }

        @media (max-width: 740px) {
            width: 40px;
            height: 40px;
            font-size: 20px;
        }
    }

    &.like {
        color: var(--purple-primary);
    }
}

// list
.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -12px;

    @media (max-width: 1024px) {
        margin: 0 -14px;
    }

    @media (max-width: 740px) {
        margin: 0 -8px;
    }
}

.item {
    width: 33.3333%;
    padding: 0 8px;

    &:nth-child(4) {
        display: none;
    }

    &:nth-child(5) {
        display: none;
    }

    @media (min-width: 740px) {
        width: 25%;
        padding: 0 12px;

        &:nth-child(4) {
            display: block;
        }
    }

    @media (min-width: 1024px) {
        padding: 0 14px;
    }

    @media (min-width: 1350px) {
        width: 20%;

        &:nth-child(5) {
            display: block;
        }
    }
}

.name {
    margin: 8px 0 4px;
    @media (max-width: 740px) {
        font-size: 1.4rem;
    }
}

a.list-link {
    color: var(--text-primary);
    display: block;
    &:hover {
        color: var(--link-text-hover);
    }
}

.artists {
    color: var(--text-secondary);
    font-size: 1.4rem;
    font-weight: 400;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    @media (max-width: 740px) {
        font-size: 1.2rem;
    }
}

// zing chart
.zing-chart {
    position: relative;
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-chart {
    position: relative;
    font-size: 2.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    color: white;
    margin-bottom: 20px;
}

.link {
    color: white !important;
}

.icon-play-chart {
    width: 28px;
    height: 28px;
    font-size: 1.8rem;
    color: var(--purple-primary) !important;
    background-color: white !important;

    &:hover {
        -webkit-filter: brightness(0.9);
        filter: brightness(0.9);
    }
}

.bg-alpha {
    position: absolute;
    inset: 0;
    border-radius: 8px;
    background: var(--linear-gradient-bg);
    opacity: 0.95;
}

.more {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 999px;
    padding: 5px 25px;
    color: white !important;
    font-size: 1.4rem;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }
}

.layer {
    margin-top: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px -12px 30px;

    @media (max-width: 740px) {
        display: none;
    }
}

.type {
    padding: 0 12px;
    width: 33.33333%;
    overflow: hidden;
}

.type-image {
    padding-top: 28%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: background-size 0.8s ease;
    -o-transition: background-size 0.8s ease;
    transition: background-size 0.8s ease;

    &:hover {
        background-size: 110%;
    }
}

// artists
.artist-wrapper {
    position: relative;
}

.artists-slider {
    margin-top: 24px;
    overflow: hidden;
}
.artist-item {
    padding: 0 14px;
}

.artist-img {
    width: 100%;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.arrow-next,
.arrow-prev {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 38px;
    height: 38px;
    font-size: 2.2rem;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    border-radius: 50%;

    &:hover {
        filter: brightness(0.9);
    }

    @media (max-width: 740px) {
        display: none;
    }
}

.arrow-next {
    right: 0;
    transform: translateX(50%) translateY(-50%);
}

.arrow-prev {
    left: 0;
    transform: translateX(-50%) translateY(-50%);
}

.arrow-prev::before,
.arrow-next::before {
    font-size: 40px !important;
}

// card
.zm-item {
    border-radius: 5px;
    overflow: hidden;
}

.zm-card {
    padding-bottom: 100%;
    position: relative;
}

.image img {
    position: absolute;
    inset: 0;
    width: 100%;

    &:nth-child(2) {
        -webkit-animation: fade 10s linear infinite;
        animation: fade 10s linear infinite;
    }
}

.zm-card-content {
    position: relative;
    width: 100%;
}

.image-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-blur img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-filter: blur(2rem);
    filter: blur(2rem);

    &:nth-child(2) {
        -webkit-animation: fade 10s linear infinite;
        animation: fade 10s linear infinite;
    }
}

.zm-content {
    user-select: none;
    position: relative;
    padding: 12px;
    font-weight: 700;
    text-transform: capitalize;

    @media (max-width: 740px) {
        padding: 8px;
    }
}

.zm-label {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: white;

    @media (max-width: 740px) {
        font-size: 14px;
    }
}

// partner
.partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    @media (max-width: 1224px) {
        margin: 0 -12px;
    }

    @media (max-width: 740px) {
        margin: 0 -8px;
    }
}

.col {
    padding: 0 10px;
    width: 12.5%;

    @media (max-width: 1224px) {
        padding: 0 12px;
        width: 25%;
    }

    @media (max-width: 740px) {
        width: 33.33333%;
        padding: 0 8px;
    }
}

.sub-title {
    font-size: 12px;
    letter-spacing: 1.71px;
    font-weight: 700;
    color: var(--text-secondary);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
}

.partner-content {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;

    @media (max-width: 1224px) {
        margin-bottom: 24px;
    }

    @media (max-width: 740px) {
        margin-bottom: 16px;
    }
}

.partner {
    position: absolute;
    inset: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.partner-image {
    max-width: 90%;
    max-height: 80%;
    width: auto;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
