.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 -15px;
}

.song {
    width: 41.66667%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px) {
        display: none;
    }

    &.without-lyric {
        width: 100%;
        display: flex;
    }
}

.card {
    user-select: none;
    position: relative;
    overflow: hidden;
    width: 80%;
    max-width: 500px;
    border-radius: 4px;
}

.thumb-block {
    padding-bottom: 100%;
}

.thumb {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playing-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 15px;
    bottom: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lyric-block {
    padding: 0 15px;
    width: 58.33333%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px) {
        width: 100%;
    }

    &.hide {
        display: none;
    }
}

.lyric {
    max-height: 500px;
    overflow: hidden auto;
    -webkit-mask-image: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0.8) 10%,
        #fff 25%,
        #fff 75%,
        hsla(0, 0%, 100%, 0.8) 90%,
        hsla(0, 0%, 100%, 0)
    );

    &::-webkit-scrollbar {
        display: none;
    }
}

.line {
    padding: 20px 0;
    font-size: 4.2rem;
    letter-spacing: -1px;
    line-height: 1.2;
    font-weight: 700;
    color: white;

    @media (max-width: 1024px) {
        text-align: center;
    }

    &.over {
        color: hsla(0, 0%, 100%, 0.5);
    }

    &.active {
        color: #ffed00;
    }
}

.info {
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 0 5px;
    color: white;

    .artists {
        color: hsla(0, 0%, 100%, 0.5);
    }

    &.is-idle {
        opacity: 0;
        transition: 0.5s ease;
    }
}
