.sidebar-pc {
    display: none;

    @media (min-width: 740px) {
        display: block;
    }
}

.wrapper {
    position: relative;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--sidebar-bg);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: width 0.15s ease;
    -o-transition: width 0.15s ease;
    transition: width 0.15s ease;

    button.new {
        border-top: 1px solid var(--alpha-bg);
        padding: 15px 25px;
        background: transparent;

        &:hover {
            color: var(--text-item-hover);
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        width: var(--sidebar-popup-width);
        background-color: var(--sidebar-popup-bg);
        position: fixed;
        top: 0;
        left: 0;
    }
}

.brand {
    height: var(--header-height);
    padding: 0 25px 0 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @media (max-width: 1024px) {
        padding: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.logo {
    width: 120px;
    height: 40px;
    background: var(--img-logo) center / contain no-repeat;

    @media (max-width: 1024px) {
        width: 45px;
        height: 45px;
        background: url('/assets/images/logo/logo-mini.svg') center / contain no-repeat;
    }
}

.link-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.links {
    margin-bottom: 16px;
    position: relative;

    .divide {
        position: absolute;
        bottom: -16px;
        left: 25px;
        right: 25px;
        border-bottom: 1px solid var(--alpha-bg);
    }

    &.scroll {
        margin-top: 16px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow-y: overlay;

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #888;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: transparent;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &:hover::-webkit-scrollbar {
            display: block;
            width: 4px;
        }

        &.scrolling {
            -webkit-mask-image: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(hsla(0, 0%, 100%, 0)),
                color-stop(10%, hsla(0, 0%, 100%, 0.8)),
                color-stop(25%, #fff),
                to(#fff)
            );
            -webkit-mask-image: linear-gradient(
                180deg,
                hsla(0, 0%, 100%, 0),
                hsla(0, 0%, 100%, 0.8) 10%,
                #fff 25%,
                #fff
            );
        }
    }
}

.link {
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px 25px;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--navigation-text);
    border-left: 3px solid transparent;
    -webkit-transition: padding 0.15s ease;
    -o-transition: padding 0.15s ease;
    transition: padding 0.15s ease;

    .icon {
        font-size: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 10px;

        @media (max-width: 1024px) {
            margin-right: 0;
        }
    }

    &:hover {
        color: var(--text-item-hover);
    }

    &.active {
        background-color: var(--alpha-bg);
        border-left: 3px solid var(--purple-primary);
        color: var(--text-item-hover);

        @media (max-width: 1024px) {
            border-left: 0;
        }
    }

    @media (max-width: 1024px) {
        padding: 15px 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-left: 0;
    }
}

.title {
    position: relative;

    .separate {
        position: absolute;
        left: 120%;
        top: 50%;
        font-size: 1rem;
        line-height: 1rem;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 3px 7px;
        border-radius: 5px;
        background-color: red;
        color: white;
    }

    @media (max-width: 1024px) {
        display: none;
    }
}

.library {
    padding: 12px 28px 8px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;

    @media (max-width: 1024px) {
        display: none;
    }
}

.wrapper .show {
    margin-left: 0;
    background-color: var(--alpha-bg);
}

.btn {
    display: none;
    padding-bottom: 14px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @media (max-width: 1024px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.wrapper.active {
    width: var(--sidebar-width) !important;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
    z-index: 20;

    .title {
        display: block !important;
    }

    .btn {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

        .show {
            margin-right: 16px;
        }
    }

    .logo {
        width: 120px;
        height: 40px;
        background: var(--img-logo) center / contain no-repeat;
    }

    .brand {
        padding: 0 25px 0 28px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .link {
        padding: 7px 25px !important;
        border-left: 3px solid transparent !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;

        &.active {
            border-left: 3px solid var(--purple-primary) !important;
        }

        .icon {
            margin-right: 10px !important;
        }
    }

    .library {
        display: block !important;
    }
}

.layout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 12;
}

.ad {
    margin: 4px 20px;
    padding: 15px 8px;
    background: -o-linear-gradient(333deg, #5a4be7, #c86dd7 102%);
    background: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;

    .primary {
        margin-top: 10px;
        background-color: yellow;
        width: 125px;
        padding: 4px 25px;
        border: 1px solid white;
        color: black;
        font-size: 1.3rem;
        font-weight: 700;

        &:hover {
            opacity: 0.9;
        }
    }

    @media (max-width: 1024px) {
        display: none;
    }
}

// Mobile
.sidebar-mobile {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--sidebar-height-mobile);
    border-top: 1px solid var(--border-player);
    z-index: 999;

    background-color: var(--layout-bg);

    @media (min-width: 740px) {
        display: none;
    }
}

.links-mobile {
    background-color: var(--player-bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.link-mobile {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &.active {
        background-color: var(--alpha-bg);

        .icon-mobile,
        .title-mobile {
            color: var(--text-item-hover);
        }
    }
}

.icon-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--text-primary);
}

.title-mobile {
    font-size: 1rem;
    color: var(--text-primary);
}
