.wrapper-bg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: var(--layout-bg);
    border-top: 1px solid var(--border-player);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--player-bg);
    height: var(--footer-height);
    background-position: center;
    background-size: 1920px auto;
}

.media {
    height: 64px;
    display: flex;
    align-items: center;
}

.media-left {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.media-content {
    width: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    border-radius: 4px;
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.name-song {
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(270deg, transparent 0.5%, #000 10%);

    &.active {
        .content {
            animation: run-to-left 7s linear infinite;
        }
    }
}

.content {
    display: flex;
    white-space: nowrap;
}

.text {
    margin-right: 20px;
}

.author {
    font-size: 1.2rem;
    font-size: 500;
    color: var(--text-secondary);
}

.media-right {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn {
    margin: 0 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;

    &.large {
        width: 36px;
        height: 36px;

        .icon {
            font-size: 20px;
        }
    }

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }
}

.icon {
    display: inline-flex;
    font-size: 16px;
    color: var(--player-text);

    &.active {
        color: var(--purple-primary);
    }
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume {
    width: 70px;
}

.narrow {
    width: 1px;
    height: 36px;
    background-color: var(--border-player);
    margin: 0 16px;
}

.list {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.1);

    &:hover {
        filter: brightness(0.9);
    }

    &.active {
        background-color: var(--purple-primary);

        span {
            color: white;
        }
    }

    .icon {
        font-size: 16px;
    }
}

.player {
    display: flex;
    max-width: 40vw;
    width: 100%;
    flex-direction: column;
    margin-right: 10px;
}

.progress,
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-player {
    background-color: transparent;
    margin: 0 7px;
    width: 32px;
    height: 32px;

    &.separate {
        width: 50px;
        height: 50px;

        &:hover {
            background-color: transparent;
            opacity: 1;

            span {
                color: var(--purple-primary) !important;
            }
        }
    }

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }

    &.active {
        span {
            color: var(--purple-primary) !important;
        }
    }
}

.time {
    font-size: 1.2rem;

    &.left {
        margin-right: 10px;
    }

    &.right {
        margin-left: 10px;
    }
}

.btn-control {
    width: 36px;
    height: 36px;
    margin: 0 2px !important;

    background-color: transparent;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }
}

// Animations
@keyframes run-to-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
