.wrapper-bg {
    position: fixed;
    bottom: calc(0px - var(--footer-height));
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: var(--layout-bg);
    border-top: 1px solid var(--border-player);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--player-bg);
    height: var(--footer-height);
    background-position: center;
    background-size: 1920px auto;
}

.media {
    height: 64px;
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    transition: left 0.3s linear;

    &.active {
        left: 24px;

        .image {
            border-radius: 50%;
            animation: spin 10s linear infinite;
        }
    }
}

.media-left {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.media-content {
    width: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    transition: border-radius 0.3s 0.3s ease;
    border-radius: 4px;
    width: 64px;
    height: 64px;
    animation: spin-off 0.3s ease;
}

.name-song {
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(270deg, transparent 0.5%, #000 10%);

    &.active {
        .content {
            animation: run-to-left 7s linear infinite;
        }
    }
}

.content {
    display: flex;
    white-space: nowrap;
}

.text {
    margin-right: 20px;
}

.author {
    font-size: 1.2rem;
    font-size: 500;
    color: var(--text-secondary);
}

.media-right {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn {
    margin: 0 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;

    &.large {
        width: 36px;
        height: 36px;

        .icon {
            font-size: 20px;
        }
    }

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }
}

.icon {
    display: inline-flex;
    font-size: 16px;
    color: var(--player-text);

    &.active {
        color: var(--purple-primary);
    }
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume {
    width: 70px;
}

.narrow {
    width: 1px;
    height: 36px;
    background-color: var(--border-player);
    margin: 0 16px;
}

.list {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.1);

    &:hover {
        filter: brightness(0.9);
    }

    &.active {
        background-color: var(--purple-primary);

        span {
            color: white;
        }
    }

    .icon {
        font-size: 16px;
    }
}

.player {
    display: flex;
    max-width: 40vw;
    width: 100%;
    flex-direction: column;
    margin-right: 10px;
}

.progress,
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    color: var(--text-primary) !important;
}

.btn-player {
    background-color: transparent;
    margin: 0 7px !important;
    width: 32px;
    height: 32px;

    &.separate {
        width: 50px;
        height: 50px;

        &:hover {
            background-color: transparent;
            opacity: 1;

            span {
                color: var(--purple-primary) !important;
            }
        }
    }

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }

    &.active {
        span {
            color: var(--purple-primary) !important;
        }
    }
}

.time {
    font-size: 1.2rem;

    &.left {
        margin-right: 10px;
    }

    &.right {
        margin-left: 10px;
    }
}

.btn-control {
    width: 36px;
    height: 36px;
    margin: 0 2px !important;

    background-color: transparent;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }
}

.note {
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    opacity: 0;
}

.note-1-spin {
    animation: note-1-spin 4.8s linear infinite;
}

.note-2-spin {
    animation: note-2-spin 4.8s 1.2s linear infinite;
}

.note-3-spin {
    animation: note-1-spin 4.8s 2.4s linear infinite;
}

.note-4-spin {
    animation: note-2-spin 4.8s 3.6s linear infinite;
}

// Animations
@keyframes run-to-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    3% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-off {
    0% {
        transform: rotate(720deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes note-1-spin {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    }
    50% {
        opacity: 1;
        transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3);
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
    }
}

@keyframes note-2-spin {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    }
    50% {
        opacity: 1;
        transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3);
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
    }
}
