.wrapper-bg {
    position: fixed;
    bottom: calc(0px - var(--footer-height));
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--layout-bg);
    border-top: 1px solid var(--border-player);
}

.wrapper {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    background-color: var(--player-bg);
    height: var(--footer-height);
    background-position: center;
    background-size: 1920px auto;

    &.active {
        justify-content: center;
    }

    @media (max-width: 740px) {
        padding: 0 10px;
    }
}

.media {
    cursor: pointer;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    left: 0;
    -webkit-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    transition: left 0.3s linear;
    width: 30%;

    &.active {
        left: 24px;

        @media (max-width: 740px) {
            margin-left: -10px;
        }

        .image {
            border-radius: 50%;
            -webkit-animation: spin 10s linear infinite;
            animation: spin 10s linear infinite;
        }
    }

    &.hide {
        display: none;
    }

    @media (max-width: 740px) {
        display: flex !important;
        width: 100%;
        height: 50px;
    }
}

.media-left {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
}

.media-content {
    width: 155px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    @media (max-width: 740px) {
        width: 170px;
    }
}

.image {
    -webkit-transition: border-radius 0.3s 0.3s ease;
    -o-transition: border-radius 0.3s 0.3s ease;
    transition: border-radius 0.3s 0.3s ease;
    border-radius: 4px;
    width: 64px;
    height: 64px;
    -webkit-animation: spin-off 0.3s ease;
    animation: spin-off 0.3s ease;

    @media (max-width: 740px) {
        width: 40px;
        height: 40px;
    }
}

.name-song {
    font-size: 1.4rem;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    text-transform: capitalize;
    -webkit-mask-image: -webkit-gradient(
        linear,
        right top,
        left top,
        color-stop(0.5%, transparent),
        color-stop(10%, #000)
    );
    -webkit-mask-image: linear-gradient(270deg, transparent 0.5%, #000 10%);

    &.active {
        .content {
            -webkit-animation: run-to-left 7s linear infinite;
            animation: run-to-left 7s linear infinite;
        }
    }
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
}

.text {
    margin-right: 20px;
}

.author {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-secondary);

    @media (max-width: 740px) {
        --line-clamp: 1;
    }
}

.media-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;

    @media (max-width: 1024px) {
        display: none;
    }
}

.btn {
    margin: 0 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;

    &.large {
        width: 36px;
        height: 36px;

        .icon {
            font-size: 20px;
        }
    }

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }

    &.mobile {
        &:hover {
            background-color: transparent;
        }
    }
}

.icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    color: var(--player-text);

    &.active {
        color: var(--purple-primary);
    }
}

.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30%;

    @media (max-width: 740px) {
        display: none;
    }

    &.hide {
        display: none;
    }
}

.controls-mobile {
    display: none;

    @media (max-width: 740px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.volume {
    width: 70px !important;
}

.narrow {
    width: 1px;
    height: 36px;
    background-color: var(--border-player);
    margin: 0 16px;
}

.list {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.1);

    &:hover {
        -webkit-filter: brightness(0.9);
        filter: brightness(0.9);
    }

    &.active {
        background-color: var(--purple-primary);

        span {
            color: white;
        }
    }

    .icon {
        font-size: 16px;
    }
}

.player {
    position: relative;
    z-index: 1002;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    @media (max-width: 740px) {
        display: none;
    }

    &.active {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        width: 60%;
        max-width: 500px;
        --progressbar-player-bg: rgba(255, 255, 255, 0.1);

        .progress {
            color: white !important;
        }
        .actions {
            span {
                color: white;
            }

            button {
                &:hover {
                    background-color: hsla(0, 0%, 100%, 0.1);
                }
            }
        }
        &.is-idle {
            opacity: 0;
            transition: 0.5s ease;
            visibility: hidden;
        }
    }
}

.progress,
.actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.loading {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 7px;
    color: var(--text-primary) !important;
}

.btn-player {
    background-color: transparent;
    margin: 0 7px !important;
    width: 32px;
    height: 32px;

    &.separate {
        width: 50px;
        height: 50px;

        &:hover {
            background-color: transparent !important;
            opacity: 1;

            span {
                color: var(--purple-primary) !important;
            }
        }
    }

    &.active {
        span {
            color: var(--purple-primary) !important;
        }
    }

    @media (max-width: 740px) {
        &:hover {
            background-color: unset;
        }

        margin: 0 !important;
    }
}

.time {
    font-size: 1.2rem;
    font-weight: 500;

    &.left {
        margin-right: 10px;
        color: hsla(0deg, 0%, 100%, 0.5);
    }

    &.right {
        margin-left: 10px;
    }
}

.btn-control {
    width: 36px;
    height: 36px;
    margin: 0 2px !important;

    background-color: transparent;

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}

.loader-icon {
    width: 32px;
    height: 32px;
    font-size: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: spinner 2s linear infinite;
    animation: spinner 2s linear infinite;
}

.note {
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    opacity: 0;
    color: var(--text-primary);

    @media (max-width: 740px) {
        left: calc(100% - 5px);
        top: calc(25% - 5px);
    }
}

.note-1-spin {
    -webkit-animation: note-1-spin 4.8s linear infinite;
    animation: note-1-spin 4.8s linear infinite;

    @media (max-width: 740px) {
        -webkit-animation: note-1-spin-mobile 4.8s linear infinite;
        animation: note-1-spin-mobile 4.8s linear infinite;
    }
}

.note-2-spin {
    -webkit-animation: note-2-spin 4.8s 1.2s linear infinite;
    animation: note-2-spin 4.8s 1.2s linear infinite;

    @media (max-width: 740px) {
        -webkit-animation: note-2-spin-mobile 4.8s 1.2s linear infinite;
        animation: note-2-spin-mobile 4.8s 1.2s linear infinite;
    }
}

.note-3-spin {
    -webkit-animation: note-1-spin 4.8s 2.4s linear infinite;
    animation: note-1-spin 4.8s 2.4s linear infinite;

    @media (max-width: 740px) {
        -webkit-animation: note-1-spin-mobile 4.8s 2.4s linear infinite;
        animation: note-1-spin-mobile 4.8s 2.4s linear infinite;
    }
}

.note-4-spin {
    -webkit-animation: note-2-spin 4.8s 3.6s linear infinite;
    animation: note-2-spin 4.8s 3.6s linear infinite;

    @media (max-width: 740px) {
        -webkit-animation: note-2-spin-mobile 4.8s 3.6s linear infinite;
        animation: note-2-spin-mobile 4.8s 3.6s linear infinite;
    }
}

// Player Popup
.has-player {
    .player-popup {
        bottom: var(--footer-height);

        @media (max-width: 740px) {
            bottom: calc(var(--footer-height) + var(--sidebar-height-mobile));
        }
    }
}

.player-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(167, 167, 255);
    z-index: 999;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;

    &.active {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

// Animations
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes run-to-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@keyframes run-to-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    3% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    3% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-off {
    0% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes spin-off {
    0% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-webkit-keyframes note-1-spin {
    0% {
        opacity: 0;
        -webkit-transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3);
        transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
        transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
    }
}

@keyframes note-1-spin {
    0% {
        opacity: 0;
        -webkit-transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3);
        transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
        transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
    }
}

@-webkit-keyframes note-2-spin {
    0% {
        opacity: 0;
        -webkit-transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3);
        transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
        transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
    }
}

@keyframes note-2-spin {
    0% {
        opacity: 0;
        -webkit-transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3);
        transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
        transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
    }
}

@-webkit-keyframes note-1-spin-mobile {
    0% {
        opacity: 0;
        -webkit-transform: rotate(100deg) translateX(30px) rotate(-90deg) scale(1);
        transform: rotate(100deg) translateX(30px) rotate(-90deg) scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3);
        transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(260deg) translate(30px) rotate(-260deg) scale(1.7) rotate(-15deg) rotate(-25deg);
        transform: rotate(260deg) translate(30px) rotate(-260deg) scale(1.7) rotate(-15deg) rotate(-25deg);
    }
}

@keyframes note-1-spin-mobile {
    0% {
        opacity: 0;
        -webkit-transform: rotate(100deg) translateX(30px) rotate(-90deg) scale(1);
        transform: rotate(100deg) translateX(30px) rotate(-90deg) scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3);
        transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(260deg) translate(30px) rotate(-260deg) scale(1.7) rotate(-15deg) rotate(-25deg);
        transform: rotate(260deg) translate(30px) rotate(-260deg) scale(1.7) rotate(-15deg) rotate(-25deg);
    }
}

@-webkit-keyframes note-2-spin-mobile {
    0% {
        opacity: 0;
        -webkit-transform: rotate(100deg) translateX(30px) rotate(-90deg) scale(1);
        transform: rotate(100deg) translateX(30px) rotate(-90deg) scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotate(175deg) translateX(55px) rotate(-175deg) scale(1.3);
        transform: rotate(175deg) translateX(55px) rotate(-175deg) scale(1.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(260deg) translate(30px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
        transform: rotate(260deg) translate(30px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
    }
}

@keyframes note-2-spin-mobile {
    0% {
        opacity: 0;
        -webkit-transform: rotate(100deg) translateX(30px) rotate(-90deg) scale(1);
        transform: rotate(100deg) translateX(30px) rotate(-90deg) scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotate(175deg) translateX(55px) rotate(-175deg) scale(1.3);
        transform: rotate(175deg) translateX(55px) rotate(-175deg) scale(1.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(260deg) translate(30px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
        transform: rotate(260deg) translate(30px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
    }
}
