.item {
    margin-top: 14px;
    width: 20%;
    padding: 0 12px;

    @media (max-width: 1224px) {
        width: 25%;
    }

    &.small {
        width: 20%;
        padding: 0 12px;

        @media (min-width: 1224px) {
            padding: 0 14px;
            width: 16.66667%;
        }
    }
}

.card {
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    padding-top: 100%;
    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;

    &:hover {
        background-size: 110%;

        .controls {
            display: flex;
        }
    }
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--dark-alpha-50);
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: space-evenly;

    .icon {
        width: 30px;
        height: 30px;
        font-size: 20px;
        color: white;
        margin: 0;

        &:hover {
            background-color: var(--hover-tooltip-opacity);
        }

        &.icon-play {
            width: 45px;
            height: 45px;
            border: 1px solid white;
            font-size: 24px;

            &:hover {
                background-color: transparent;
            }
        }

        &.like {
            color: var(--purple-primary);
        }
    }

    &.active {
        display: flex;
    }
}

.content {
    display: flex;
    flex-direction: column;
}

a.name-card {
    font-weight: 600;
    margin: 8px 0 4px 0;
    font-size: 1.4rem;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    color: var(--text-primary);

    &:hover {
        color: var(--link-text-hover);
    }
}

.subtitle {
    font-size: 1.2rem;
    color: var(--text-secondary);
}

.pause {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid white;
}

.pause-icon {
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
