.wrapper {
    max-width: 540px;
    height: 40px;
    width: 100%;
    background-color: var(--alpha-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &:focus-within {
        background-color: var(--primary-bg);
        border-radius: 20px 20px 0 0;
        -webkit-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
        box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);

        .history {
            display: block;
            -webkit-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
        }
    }
}

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-icon {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }
}

.search-input {
    padding-right: 20px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    caret-color: var(--search-text);
    color: var(--text-primary);

    &::-webkit-input-placeholder {
        color: var(--text-placeholder);
    }

    &::-moz-placeholder {
        color: var(--text-placeholder);
    }

    &:-ms-input-placeholder {
        color: var(--text-placeholder);
    }

    &::-ms-input-placeholder {
        color: var(--text-placeholder);
    }

    &::placeholder {
        color: var(--text-placeholder);
    }
}

.history {
    display: none;
    padding: 13px 10px;
    background-color: var(--primary-bg);
    border-radius: 0 0 20px 20px;
}

.link {
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .icon {
        margin-right: 10px;
        font-size: 1.6rem;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        opacity: 0.6;
    }

    &:hover {
        background-color: var(--alpha-bg);
    }
}

.title {
    font-size: 1.4rem;
    padding: 0 10px 8px;
}
