.container {
    position: relative;
}

.wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    // loai bo hieu ung debounce tren ios
    overscroll-behavior: none;

    @media (min-width: 740px) and (max-width: 1024px) {
        margin-left: 70px;
    }

    @media (max-width: 740px) {
        max-height: calc(100vh - var(--sidebar-height-mobile));
    }
}

.main::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
}

.main::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--scroll-thumb-bg);
}

.main::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

.header {
    position: fixed;
    left: var(--sidebar-width);
    right: 0;
    top: 0;
    z-index: 11;

    @media (min-width: 740px) and (max-width: 1024px) {
        left: var(--sidebar-popup-width);
    }

    @media (max-width: 740px) {
        left: 0;
    }
}

.header.scroll {
    background-color: var(--layout-bg);
    -webkit-box-shadow: 0 3px 5px var(--sticky-header-box-shadow);
    box-shadow: 0 3px 5px var(--sticky-header-box-shadow);
}

.content {
    margin-top: var(--header-height);
    padding: 0 var(--padding-section);
    margin-bottom: 100px;

    @media (min-width: 740px) and (max-width: 1024px) {
        padding: 0 30px;
    }

    @media (max-width: 740px) {
        padding: 0 20px;
    }
}
